html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "K2D", sans-serif;
  height: 100%;
  width: 100%; }

.head-wrap {
  background-color: #020202;
  display: flex;
  justify-content: center;
  width: 100%; }
  .head-wrap img {
    width: 32.55vw;
    height: 15vw; }

.nav {
  background-color: #020202;
  display: flex;
  justify-content: space-around; }
  .nav-item {
    padding: 1em; }
    .nav-item a {
      color: #fff;
      text-decoration: none; }

.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%; }

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2em; }
  .main-content .right {
    padding-left: 2em; }

.sidebar {
  width: 15%;
  background-color: #363130;
  height: 110%;
  color: #fff; }
  .sidebar__title {
    padding: 1em;
    text-align: center; }
  .sidebar__item {
    padding: 1em; }
    .sidebar__item a {
      text-decoration: none;
      color: #fff; }

.footer {
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  font-size: .8em; }
  .footer__right {
    display: flex; }
  .footer__item {
    padding: .3em; }
    .footer__item a {
      text-decoration: none;
      color: #585858; }

@media only screen and (max-width: 750px) {
  .content-wrapper {
    flex-direction: column; }
  .sidebar {
    width: 100%; }
  .main-content {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: .2em; }
    .main-content .right {
      padding: 0; } }
